body{
    background-color: black;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
h3{
    color:blue
}
h2{
    color: blueviolet;
}
a:hover {
    color: hotpink;

}
img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    float: left ;
    margin-right: 20px;
}